/vendor/
/dev/vendor/
/dev/cache
/dev/*.pid
/config/*.php
/config/*.sql
/cache
/.idea/
/composer.lock
/dev/composer.lock
/.DS_Store
/src/Doc/.DS_Store
/src/.DS_Store
/*.log
/*/*/*.log
/cache/*
/seals.info
/log
/log/*
/*.pid
/*/*.pid
/process_cache
/mysql.last
/mysql.pos
/logs
/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
/session
/*.sh
/data/user/login/*.token
/web/public/*
/*.info
/update
/general.last
/general.read
/master.status
/data/table/*.table
/data/report/*.report
/data/user/*.user
/data/user/roles/*.role
/composer
/composer.json