<?php

return  [
    //必须配置：mysqlbinlog 命令，如果无法识别 写绝对路径
    "mysqlbinlog" => "mysqlbinlog",
    //从库id
    "slave_server_id" => 9999,
    //重连等待时间
    "retry_connect_sleep" => 6,
    //do_db【匹配库】、ignore_db【忽略库】二选一 优先判断do_db 使用,分隔
    "do_db"=>'',
    "ig_db"=>'',
    //必须配置：mysql
    "mysql" => [
        "db_name"  => "",
        "host"     => "127.0.0.1",
        "user"     => "slave",
        "password" => "slave",
        "port"     => 3306,
        "rec_time_out"=>0, //接收超时设置 网络断开时接收可能阻塞 0不限制 无此项配置将默认使用binlog心跳值
    ],
    //异常通知地址 post {title,msg}
    'warn_notice_url'=>'https://xxx.com/warn-notice',
    //以下配置均属于可选订阅 可以任意增加 只需要遵循接口ISubscribe实现即可
    //\Wing\Subscribe\Redis::class 是实现 后面的数组是构造函数参数
    "subscribe" => [
        //db
        \Wing\Subscribe\Db::class => [
            "allow_db_table" => [  //允许的库及表
                'service'=>['order','merchant'],
            ],
            'db_map'=>[
                'service'=>'dbname'
            ]
        ],

        //可选redis队列订阅
        \Wing\Subscribe\Redis::class => [
            "host"     => "127.0.0.1",
            "port"     => 6397,
            "password" => null,                          //无密码时必须为null
            "queue"    => "----wing-mysql-events-queue----" //默认的redis队列名称，队列使用rpush从尾部进入队列
        ],
/*
        //可选websocket订阅
        \Wing\Subscribe\WebSocket::class => [
            "host"  => "0.0.0.0",
            "port"  => 9998,
        ],

        //可选tcp订阅
        \Wing\Subscribe\Tcp::class => [
            "host" => "0.0.0.0",
            "port" => 9997
        ]*/
    ]
];
